.logo{
    background-image: url(https://cdn.pixabay.com/photo/2014/12/15/16/57/tree-569275_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    text-align: right;text-align: center;
}

.pic1{
    object-fit: cover;
    text-align: left;
    width: 100%;
    background-color: rgb(72, 129, 72);
}
.pico{
    position: absolute;
    top: 1150px;
    right: 200px;
    text-align: right;text-align: center;font-weight: 800;font-size: large;
    color: rgb(255, 255, 255)
}
.pic2{
    background-attachment: fixed;
    object-fit: cover;
    text-align: right;
    width: 100%;
    background-color: rgb(173, 210, 235)
}
.picc{
    position: absolute;
    top: 1850px;
    left: 200px;
    text-align: left;text-align: center;font-weight: 800;font-size: large;
    color:rgb(0, 0, 0)
}
.pic3{
    background-attachment: fixed;
    object-fit: cover;
    object-fit: cover;
    text-align: left;
    width: 100%;
    background-color: rgb(218, 206, 107)
}
.pics{
    position: absolute;
    top: 2450px;
    right: 200px;
    text-align: right;text-align: center;font-weight: 800;font-size: x-large;
    color: rgb(0, 0, 0)
}
.pic4{
    background-attachment: fixed;
    object-fit: cover;
    background-attachment: fixed;
    object-fit: cover;
    text-align: right;
    width: 100%;
    background-color: rgb(240, 180, 128)
}
.picv{
    position: absolute;
    top: 3050px;
    left: 200px;
    text-align: left;text-align: center;font-weight: 800;font-size: larger;
    color:rgb(0, 0, 0)