body{
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.menu{
    padding: 12px;
    padding-right: 52px;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
aside{
    float: inline-start;
    color: #fff;
    width: 250px;
    padding-left: 20px;
    height: 100vh;
    background-image: linear-gradient(321deg, #0048bd, #44a7fd);
    border-top-right-radius:40px;
}
aside a {
    font-size: 14px;
    color: #fff;
    display: block;
    padding: 12px;
    padding-left: 33px;
    text-decoration: none;
}
aside a:hover {
    color: darkblue;
    background: #fff;
    outline: none;
    position: relative;
    background-color: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
aside a i{
    margin-right: 5px;
}
aside a:hover::after{
    content: '';
    position: absolute;
    background-color: transparent;
    bottom: 100%;
    right: 0%;
    height: 35px;
    width: 35px;
    border-bottom-right-radius: 18px;
    box-shadow: 0 20px 0 0 #fff;
}
aside a:hover::before{
    content: '';
    position: absolute;
    background-color: transparent;
    top: 38px;
    right: 0;
    height: 35px;
    width: 35px;
    border-top-right-radius: 18px;
    box-shadow: 0 -20px 0 0 #fff;
}
